<div class="row">
  <div class="col-md-5">
    <h2>Contacts</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let contact of contacts" [class.active]="contact === selectedContact"
      (click)="selectContact(contact)">
        {{contact.name}}
        
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
  </div>
  <div class="col-md-5">
    <app-contact-details 
    [contact]="selectedContact"
    [createHandler]="addContact" 
    [updateHandler]="updateHandler"
    [deleteHandler]="deleteHandler">
    </app-contact-details>

  </div>
</div>